* {
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  margin: 0;
  background: "#f9f9f9";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
